.images {
  margin-top: 2rem;

  .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    img {
      width: 100%;
      border-radius: 15px;
      border: 1px solid #e5e7eb;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}